.coupon_back{
    background-color: white;
    padding: 40px ;
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 360px;
    overflow-y: auto;
}
.coupon_scroll::-webkit-scrollbar
{
	width: 5px;
}

.coupon_scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: lightgray
}

.coupon_card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 250px;
}

@media screen and (max-width:576px){
    .coupon_back{
        padding: 25px;
    }
}

.Close_btn{
    font-size: 22px;
    font-weight: 700;
    color: red;
}